
{% extends 'base.html' %}

{% block head %}
    <div class="container my-5 text-center">
            <h1>Animal Stickers</h1>
        </div>
{% endblock %}

{% block main %}
    <div class="container mb-5">
            <div class="row mb-5">
                <div class="col col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <a href={{ url_for('main.sticker_listing') }} class="text-decoration-none text-reset">
                            <img src={{url_for('static', filename='images/stickers/space_cat.png')}} class="card-img-top"
                                alt="sticker depicting purple cat as planet with sparkles surrounding it">
                            <div class="card-body">
                                <h5 class="card-title">Sparkle Space Cat</h5>
                                <p class="card-text pb-3">$0.99</p>
                            </div>
                    </div>
                </div>

                <div class="col col-lg-4">
                    <div class="card" style="width: 20rem;">
                        <a href={{ url_for('main.sticker_listing') }} class="text-decoration-none text-reset">
                            <img src="{{url_for('static', filename='images/stickers/penguin.png')}}" class="card-img-top"
                                alt="penguin in red sweater reads a blue book while sitting in a brown chair">
                            <div class="card-body">
                                <h5 class="card-title">Cosy Penguin Reading</h5>
                                <p class="card-text pb-3">$2.99</p>
                            </div>
                    </div>
                </div>
            </div>

{% endblock %}
