{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<div class="container my-5 text-center">
    <h1>Checkout</h1>
</div>
{% endblock %}

{% block main %}
    <section>  
        <div class="container">
            <div class="row">
                <div class = "col-12">
                    <p>
                        Thank you for your interest :)<br>
                        Please provide your details and the artists will be in touch to finalise details and take payment.
                    </p>
                </div>
            </div>
            <div class="row my-5">
                <div class = "col-5 col-sm-9">
                    {{wtf.quick_form(form)}}
                </div>
                <div class="col-7 col-sm-3 flex-row-reverse">
                    <img class="d-block" src={{url_for('static', filename='img/thankyou.gif' )}} style="width: 200px; height: 200px;">
                </div>
            </div>
        </div>
    </section>
{% endblock %}