{% extends 'base.html' %}

{% block head %}
<div class="container my-5 text-center">
    <h1>Your Cart</h1>
</div>
{% endblock %}


{% block main %}
<!-- display contents of user basket -->
<section>  
    <div class="container">
        <!-- each sticker on seperate row -->
        {% for sticker in order.stickers %}
            <div class="container my-4">
                <div class="col card">
                    <h5 class="card-header my-2" style="background-color: #C6BBB8; border:#C6BBB8">{{sticker.name}} sticker</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img class="img-thumbnail" src="{{url_for('static', filename=('img/stickers/'+ sticker.image))}}">
                            </div>
                            <div class="col-8">
                                <!-- Item Description -->
                                <p class="card-text">{{sticker.description}}</p>   
                            </div> 
                            <!-- right column has price and delete button -->
                            <div class="col-2">
                                <!-- delete item button -->
                                    <h5>{{ "$%.2f"|format(sticker.price) }}</h5>
                                    <form method="POST" action="{{url_for('main.deleteorderitem')}}">
                                        <input type="hidden" id="id" name="id" value="{{sticker.id}}">
                                        <input type="submit" value="Delete" class="btn btn-primary mb-3" style="background-color: #A57665; border:#A57665">
                                    </form> 
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- total price and page controls -->
        <section>
            <div class="row d-flex">
                <div class="col mt-4 text-center">
                    <h4>Total = {{ "$%.2f"|format(totalprice) }}</h4>
                </div>
            </div>
        
            <div class="row co-12 d-flex mt-2 mb-4">
                <div class="col">
                    <a href="{{ url_for('main.index', _anchor='cities_anchor') }}" class="btn btn-primary mr-4" style="background-color: #CA8D89; border:#CA8D89">Continue Shopping</a>
                    <a href="{{ url_for('main.deleteorder') }}" class="btn btn-primary" style="background-color: #A57665; border:#A57665">Empty Basket</a>
                </div>
                <div class="col text-right">
                    <a href="{{ url_for('main.checkout') }}" class="btn btn-primary mr-4" style="background-color: #CA8D89; border:#CA8D89">Checkout</a>
                </div>

            </div>
        </section>
    </div>
</section>
{% endblock %}